<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Completed Tasks</title>
    <style>
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
<br>

<a href="/tasks">Tasks</a>

<h1>Completed Tasks</h1>

<form th:action="@{/tasks/archive}" method="GET">
    <input type="date" name="date" required/>
    <input type="submit" value="Filter by Date"/>
</form>

<table>
    <thead>
    <tr>
        <th>Completed at</th>
        <th>Task</th>
    </tr>
    </thead>
    <tbody>
    <br>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.completedAt}"></td>
        <td th:text="${task.text}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>